.home-content-header {
    background-color: #ff3152;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.content {
    grid-area: content;
}